

.image_logo img{
    height: 200px;
    width: 1920px;
    max-width: 100%;
}

.section1 {
  border: 2px black solid;
  position:relative;

}

nav{
    border: 2px black solid;
    margin-right: 80%;
}

footer {
  border: 2px black solid;
  position:relative;
}

.menu {
  display:inline;
}
